./docker-data
.DS_Store

# Go
.order-service/config.yml
.order-service/data

.order-sender/config.yml
.order-sender/data

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?